!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{ "charset" => "utf-8" }/
  = csrf_meta_tag
  %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
  %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}/
  %meta{ :content => "The personal blog of a programmer and web developer Nick Barth.", :name => "description"}/
  %meta{ :content => "Nick Barth", :name => "author"}/
  = auto_discovery_link_tag :atom, feed_posts_path(format: :atom)
  = auto_discovery_link_tag :rss, feed_posts_path(format: :rss)  
  %title= "Nick Barth - Software Developer"
  = stylesheet_link_tag "application"
%body
  #tborder
  .container_12
    %header
      #logo.grid_9
        .logo
          = link_to "Software Developer", :root, :class => "nick"
          = link_to "Nick Barth", :root, :class => "tagline"
      %nav.grid_3
        %ul#nav
          %li{ :class => ("active" unless pages.detect {|p| current_page? page_path(p) }) }= link_to "Blog", :root
          - for page in pages
            %li{ :class => ("active" if current_page? page_path(page)) }= link_to page, page_path(page)
    #main.grid_9
      - if notice
        .notice= notice
      = yield
    #sidebar.grid_3
      %h4 About Me
      %p
        I'm an agile software developer and entrepreneur who enjoys creating and working  
        on innovative web based projects and applications.
      %ul.listnav
        %li= link_to image_tag("github.png"), "http://github.com/nickbarth/"
        %li= link_to image_tag("linkedin.png"), "http://linkedin.com/in/barthn/"
        %li= link_to image_tag("email.png"), "mailto:nick@nickbarth.ca"
      %h4 Recent Posts
      %ul.categories
        - Post.limit(4).collect.each do |category|
          %li= link_to raw("&raquo; #{category}"), post_path(category)
  .clear
  %footer
    .container_12
      %ul#footer.listnav
        %li
          = raw("&copy; 2011")
          = link_to "Nick Barth", page_path(:about)
        %li= link_to "Blog", :root
        %li= link_to "Work", page_path(:work)
        %li= link_to "About", page_path(:about)
      %ul.listnav.fnav
        %li= link_to image_tag("github.png"), "http://github.com/nickbarth/"
        %li= link_to image_tag("linkedin.png"), "http://linkedin.com/in/barthn/"
        %li= link_to image_tag("email.png"), "mailto:nick@nickbarth.ca"
  = javascript_include_tag :defaults
  :javascript
    var _gaq=[['_setAccount','UA-26355941-1'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[1];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
